@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If you want to rent a movie click on the button below</p>
    <a asp-controller="Movies" asp-action="Index"><button class="btn btn-primary">Rent a movie!</button></a>
</div>
